.toolbar {
   font: 9px Verdana, Arial, Helvetica;
   border: 1px outset black;
   background: silver;
   height: 96px;
   width: 640px;
   margin-top: 3px;
}

.tool {
   float: left;
   margin-right: 8px;
}

#editPanel {
	position: absolute;
	width: 300px;
	right: 0;
	top: 0;
	border-left: 1px solid;
	bottom: 0;
}

#editPanel div.levelObjects {
	position: absolute;
	height: 50%;
	border: 1px solid;
	top: 2px;
	left: 2px;
	right: 2px;
}

#editPanel div.sceneGraph {
	position: absolute;
	overflow: auto;
	top: 0;
	bottom: 32px;
	left: 0;
	right: 0;
}

#editPanel div.levelObjects table {
	background-color: silver;
	position: absolute;
	height: 32px;
	bottom: 0;
	left: 0;
	right: 0;	
}

#editPanel div.props {
	position: absolute;
	top: 51%;
	bottom: 2px;
	border: 1px solid;
	left: 2px;
	right: 2px;
	overflow: auto;
}

#propTable {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 9px;
   position: absolute;
   top: 0;
   left: 0;
	right: 0;
}

#propTable input {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 9px;
   border: none;
   background: #ffff88;
}

#propTable .propName {
   background: silver;
   font-weight: bold;
}

#ld_levelNames {
	width: 280px;
}

#ActorConfigDialog label,
#ActorConfigDialog span.label {
   font-weight: bold;
   font-size: 10pt;
}

#ActorConfigDialog input,
#ActorConfigDialog textarea,
#ScriptDialog textarea {
   font-family: Courier New;
   font-size: 9pt;
}